[2016-01-15 14:42] olimorris opened #2 "Improve the readme"
I kept on getting a `Fatal error: Class 'App\SlugOptions' not found` when implementing this in Eloquent. Easy to fix, just `use Spatie\Sluggable\SlugOptions;`.

The readme doesn't tell me to do that. Also, there are references to `use Spatie\Sluggable\Slug;` when it should be `use Spatie\Sluggable\HasSlug;`.

That aside this is a lovely and simple slug package.

If you agree with the above, I'll h

[2016-01-15 15:01] freekmurze commented on #2
I'm sorry if the readme was not clear on this.

I'd be very grateful for a PR that makes the readme better. :+1:

[2016-01-15 16:10] #2 closed

[2016-01-22 14:12] simondepelchin opened #4 "Overwrite a slug"
Hi @freekmurze, I was wondering how I could overwrite a generated slug from my form?

One option I have in mind is creating a `slug_overwrite` field and overwrite the `getSlugAttribute()` to return either `slug_overwrite` or `slug`.

Is that a good idea ?

[2016-01-22 18:21] freekmurze commented on #4
Overwriting a generated slug could work without introducing an extra field like `slug_overwrite`.

To the package could check, before updating a record, if the currently generated slug matches the slug that would be generated by the current slug source. If it is not, then a custom slug has been set. and so the package should not update that custom slug.

I think this would be usefull and I'd accep

[2016-01-24 13:32] freekmurze commented on #4
Fixed by your PR. Changes are present in newly tagged version 1.1.0

[2016-01-24 13:32] #4 closed

[2016-02-25 05:33] sebestenyb opened #6 "spatie/laravel-sluggable 1.1.0 requires php >=7.0.0"
Hi

Is it possible to lower the php requirement? Does it really need to be >=7.0.0?
It's a bit of an issue, php 7.0 is not yet available everywhere.

Cheers, Sebi

[2016-02-25 08:19] freekmurze commented on #6
Here's [the reasoning behind requiring PHP 7](https://murze.be/2016/01/why-we-are-requiring-php-7-for-our-new-packages/).

[2016-02-25 08:19] #6 closed

[2016-05-05 21:18] sander3 opened #7 "Efficiency could be improved"
Have you ever thought of something like this:

[code]

[2016-05-05 21:55] freekmurze commented on #7
Currently we don't experience any performance issues in our projects. Our sites generally have pages with unique names / slugs so we don't have to loop much to get a unique slug.

I would however accept a PR that makes the current loop more efficient.

[2016-05-05 21:55] #7 closed

[2016-06-02 13:35] jarod51 opened #9 "Use in seeds"
Hi

I would like to know how to use this extension in a seeder ? (I followed the readme but no slug are generated, i think the seeders does not use the models )

Thank you :)

[2016-06-02 13:39] sebastiandedeyne commented on #9
It depends how you're writing your seeds!

Could you post a snippet?

[2016-06-02 14:00] jarod51 commented on #9
@sebastiandedeyne here it is

https://gist.github.com/jarod51/80f41fc7d6cc3c784c232a394f9c0cc1

What i want is to generate slug from the name field

[2016-06-02 14:14] sebastiandedeyne commented on #9
The slugs are generated when certain Eloquent events are fired, and creating records with `DB` does a plain `insert` to the database. If you want the slugs to be generated, you'll need to save them through a model.

[code]

[2016-06-02 14:14] #9 closed

[2016-06-02 14:15] jarod51 commented on #9
that's what i thought? I'm trying it right now

[2016-06-02 14:20] jarod51 commented on #9
Ok, it seems to work ! Thank you very much

[2016-06-09 01:29] JoseCage opened #10 "How to show "item slug" in my view?"
Hello.. I need help.
 How to correctly configure the sluggable in my routes, controller to show the item when user get "sitename/item/item-name" (item-name is the slug in this case)

In my tests i tried the code above in my controller. So, it isn't work..
<code>
public function show(Request $slug){
      $product Product::whereSlug($slug)->firstOrFail();
    	return view('product.product')->with('

[2016-06-09 07:44] sebastiandedeyne commented on #10
If you typehint `Request`, Laravel is gonna inject a `Request` object, which isn't what you want here.

Assuming the route looks something like `sitename/item/{slug}`, this should work:

[code]

Alternatively, if you also need the request object injected:

[code]

More on controller method injection: https://laravel.com/docs/5.2/controllers#dependency-injection-and-controllers

[2016-06-09 07:44] #10 closed

[2016-06-09 21:15] JoseCage commented on #10
Thank You so much @sebastiandedeyne now it's working for me... Awesome..

Please continue with development of this module.,  :+1:

[2016-06-21 14:03] Artessan opened #12 "Problem with uniqueness and global scopes"
Hi, I`m working with a db that has defined the slug field like unique, and use softdeletes for deleted info, the problem is that the slug check for unique value in this package don't check softdelete.

Can you help me with this. Thanks and sorry for the english

[2016-06-21 14:10] freekmurze commented on #12
Hi, I'm not using softDeletes myself, that's why it isn't included in the package. I'd accept a simple PR that adds this to the package.

[2016-06-21 14:11] Artessan commented on #12
HI, Thanks!!!!

[2016-06-22 23:02] juniorb2ss opened #13 "Why PHP 7?"
ElasticBeanstalk deploy on AWS only has PHP 5.6.21 version or less. Why PHP is ^7?

[2016-06-22 23:14] juniorb2ss commented on #12
You can use boot.
[code]

[2016-06-23 04:01] Artessan commented on #12
yeah, that is a option but the problem is that the slug is set to null, then if the model is restored you need set the model to set the slug again in the model, i think is best option add one option in config  to check with softdeleted or not

[2016-06-23 07:54] freekmurze commented on #13
Hi,

I don't see why our package requirements should mirror what ElasticBeanstalk on AWS requires.

For our own internal projects we are not using PHP 5 anymore. That's why our packages do not support it any more. More info here: https://murze.be/2016/01/why-we-are-requiring-php-7-for-our-new-packages/

These are your options:

- fork this package and maintain your own PHP 5 version
- use another

[2016-06-23 07:54] #13 closed

[2016-09-01 11:21] nickurt opened #15 "Slug regenerated when you change something else in the model"
Hello,

I'm using this package for the username/slug generating in the Users Model. This works all perfect, but when the user change'd his username & after that he changed something else (e.g. his email) the slug will be regenerated.
[code]
Is it possible to make an option that the slug will be only 'updated/added' when you create a model/record?

[2016-11-30 12:28] jayked opened #21 "Option to destroy the getSlugOptions function"
First of all thanks for the great package.
I'm using version 1.2.0 (and can't update for that matter).
I'm having the following situation :
I am using a model called Page in a selfmade package :
[code]
And I want to overwrite it using my own class :
[code]
But this new model doesn't use the `slug` column in the database (I have removed it using migrations) and so I want to disable the getSlugOptio

[2016-12-01 16:14] freekmurze commented on #21
I'm afraid it do not understand what your issue is. I don't see `rank` anywhere in the code you posted.

[2016-12-02 15:38] jayked commented on #21
Whoops. I meant the `slug` column instead of `rank`. My bad. I've updated the issue.

[2016-12-03 10:17] freekmurze commented on #21
I'd create a second model `UnsluggledPage` (or something with a better name). That doesn't have a `getSlugOptions` method.

You could let `Page` extend from `UnsluggedPage` and add the `getSlugOptions` to `Page`.

[2016-12-03 10:17] #21 closed

[2016-12-18 17:57] blackfyre opened #22 "Overloading the slug generator"
Hi!

There's a problem with slugifying non-Germanic languages (Hungarian, Turkish, ...) that use the `ö`, `ü` characters. The components that are imported from Stringy don't make a distinction for these cases.

One solution would be an ability to change the slug generation method with `str_slug()` as a fallback.

[2016-12-19 04:19] blackfyre commented on #22
I've found a way to overload the `str_slug()`, so no modifications are needed 😄

[2016-12-19 04:19] #22 closed

[2016-12-19 08:37] freekmurze commented on #22
Hi,

great you found a way to solve this. Could you share your solution for future users who might have the same question?

[2016-12-19 08:46] blackfyre commented on #22
Sure, I was just polishing a blog entry for this :smile:

For everyone who has similar issues: https://blackfyre.ninja/blog/fixing-slug-generation-problems

[2017-01-19 21:51] terion-name opened #25 "Laravel 5.4 compatibility"
It seems that there are no breaking changes in eloquent in 5.4 https://laravel.com/docs/5.4/upgrade so may be composer updated?

[2017-01-19 22:48] freekmurze commented on #25
I'll make an L5.4 compatible release as soon as the new version of the framework is released.

[2017-01-24 19:30] freekmurze commented on #25
Version `1.4.0` has support for Laravel 5.4.

[2017-01-24 19:30] #25 closed

[2017-04-03 10:42] netwrkx opened #28 "Any lightweight alternative for php5"
This package work well on my dev server(php7) but my production server running on php5 and its flagging some errors

[code]
Any lightweight alternatives for php5?

[2017-04-03 10:45] sebastiandedeyne commented on #28
Sorry, we only support php 7 for this package. If you need php 5 support, you're going to have to fork this repository.

[2017-04-03 10:45] #28 closed

[2017-04-06 06:56] mtilokani opened #29 "What if user want to use '_' instead of '-' for space"
What if user want to use '_' instead of '-' for space ?

[2017-04-06 07:45] sebastiandedeyne commented on #29
Currently not possible I'm afraid. I'd accept a PR that adds a `separator` property and a `withSeparator(string $separator)` method to `SlugOptions`.

[2017-04-06 07:48] mtilokani commented on #29
Great thanks.

Even I will also try to add/contribute this feature.

[2017-04-12 18:12] roshangautam commented on #12
I think this is not just a problem with softDeletes but with all global scopes. For instance if I have a global scope for multi tenancy you will still get an error saying "your slug is not unique" if you have a unique constraint forced on your database column. In case you do not have a constraint you will end up having duplicate slugs. The quick and easy solution would be to add a withoutGlobalSco

[2017-04-12 20:45] assoft opened #31 "Throw Error: BadMethodCallException"
- Laravel Version: Laravel Framework 5.4.18
- Php Version: PHP 7.0.15
- DB: sqlite

Model => News.php
[code]

[code]

**Throw error:**
```BadMethodCallException with message 'Call to undefined method Illuminate\Database\Query\Builder::getTranslatedLocales()'```

Where's the error?

[2017-04-12 23:24] freekmurze commented on #31
`getTranslatedLocales` is not a function from this package. The exception trace should help you find out where this exception is being thrown.

[2017-04-13 11:33] assoft commented on #31
This error stems from the first row:

```use Spatie\Tags\HasSlug;```

change this

```use Spatie\Sluggable\HasSlug;```

Thank you...

I apologize for the unnecessary topics.

[2017-04-13 11:34] #31 closed

[2017-04-13 12:13] freekmurze commented on #31
Np, glad you found it!

[2017-04-13 14:49] freekmurze commented on #29
`usingSeparator()` has been added in `v1.5.0`

[2017-04-13 14:49] #29 closed

[2017-04-13 19:21] mtilokani commented on #29
@freekmurze - thanks :+1:

[2017-04-18 12:41] dror3go opened #33 "Model with parent/s creating hierarchy"
Hi,

I'm developing a site that has a `Page` model, with a `page_id` column to create sort of an hierarchy for the pages. The result should be URLs with slashes concatenation of the slugs, so if for example page with id 1 has the slug _hello_ will be accessible through mydomain.com/hello and if it has a "child page" which is a page with `page_id` of 1 and a slug of _world_ - it will be accessible

[2017-04-18 14:41] freekmurze commented on #33
I got no real preference, depends on the project. Do what you feels is best.

[2017-04-18 14:41] #33 closed

[2017-05-08 10:17] sebastiandedeyne commented on #12
`otherRecordExistsWithSlug` now does a `withoutGlobalScopes` call.

Gonna close this. There's no right or wrong here, sometime you'll want global scopes (e.g. if you're versioning your model, the slugs are allowed to be the same), sometimes you don't want them (e.g. in the case of soft deletes).

If you're experiencing issues due to global scopes, overwrite the `otherRecordExistsWithSlug` since it

[2017-05-08 10:17] #12 closed

[2017-06-20 03:12] mohamedsabil83 opened #34 "Supporting UTF8"
How can I accept UTF-8 characters like Arabic in sluggable for example:

أحمد محمد need to be 'أحمد-محمد' instead of 'ahmd-mhmd'?

[2017-06-20 06:09] freekmurze commented on #34
Currently `str_slug` is used to generate slugs. That function is hard coded. I'd accept a fully tested, non-breaking PR that allows that slug function to be changed via a new setting in the config file.

[2017-06-20 06:38] ctf0 commented on #34
@mohamedsabil83 here is a solution for the slug in arabic issue
[code]

this works for both arabic & english

[2017-06-20 07:00] bobbybouwmann commented on #34
The `str_slug` method has support for a language flag, did you try that one?
[code]

[2017-06-20 07:25] freekmurze commented on #34
Did not know that language flag @bobbybouwmann
Thanks for mentioning that.

[2017-06-20 07:28] ctf0 commented on #34
@bobbybouwmann https://laravel.com/api/5.4/Illuminate/Support/Str.html#method_slug , cant find any lang flag 👀

[2017-06-20 09:48] Luceos commented on #34
Allow me to link this to an extensive discussion on the Flarum forum repository about Slug transliteration,

https://github.com/flarum/core/issues/194

[2017-06-20 10:36] rathesDot commented on #34
@ctf0 5.4 does not have this flag, but checkout Illuminate/Support/helpers.php at master branch: https://github.com/laravel/framework/blob/master/src/Illuminate/Support/helpers.php

[2017-06-20 11:01] ctf0 commented on #34
@rathesDot ahaaa thats why then, its in a next release not the current v5.4

[2017-06-20 11:08] bobbybouwmann commented on #34
Aah sorry, I was working on dev-master the other day and found that flag!

@freekmurze Let's wait for 5.5 or do you want a dirty fix for this for now?

[2017-06-20 16:06] freekmurze commented on #34
Nah, let's wait for 5.5

[2017-06-20 16:06] #34 closed

[2017-06-20 21:20] mohamedsabil83 commented on #34
Thanks @ctf0 for your suggestion. @freekmurze I'm using [eloquent-sluggable](cviebrock/eloquent-sluggable) and updating the configuration from [morilog/eluquent-sluggable-persian](https://github.com/morilog/eluquent-sluggable-persian) to enable real string slugging instead of changing it to English slugging.
As you said, @freekmurze,

Thank you all.

[2017-07-04 00:57] gcshri opened #35 "Typo in readme.md"
Line 119 of readme.md

`savesSlugsTo`

should be
`saveSlugsTo`

[2017-07-04 13:15] freekmurze commented on #35
Fixed, thanks!

[2017-07-04 13:15] #35 closed

[2017-07-30 14:18] bloggervista opened #37 "Changing Guzzle Dependency"
Package guzzle/guzzle is abandoned, you should avoid using it. Use guzzlehttp/guzzle instead.
 So can we use or or there are technical problems ?

[2017-07-30 14:22] bloggervista commented on #37
Sorry it was due to another package

[2017-07-30 14:22] #37 closed

[2017-08-08 04:12] liran-co opened #39 "Unique across models"
Is it possible to retain unique slugs across multiple models / tables?

[2017-08-08 22:05] freekmurze commented on #39
The package does not do that out of the box, because most users don't need that behaviour

That being said, you could override the [`hasCustomSlugBeenUsed`](https://github.com/spatie/laravel-sluggable/blob/ec50655/src/HasSlug.php#L104-L109) with any logic you might want.

[2017-08-08 22:05] #39 closed

[2017-08-10 05:39] amosmos opened #41 "Adding package to existing project"
Hey, is there a way to populate slugs to all existing models? I added the package after I had many items in my DB.

Thanks!

[2017-08-10 07:51] sebastiandedeyne commented on #41
We don't ship anything specific to do this, but you can achieve is with a relatively small script. You could place it in an artisan command for example.

[code]

Or if you're on 5.4 and feeling fancy... (I think at least haven't tested this 😄)

[code]

[2017-08-10 07:51] #41 closed

[2017-08-14 17:06] amosmos commented on #41
Thanks - will try it out!

Do you think this is something you might add to the package one day? I assume it will make it easier for many developers to use it in existing projects...

[2017-09-12 20:43] the94air commented on #34
Laravel 5.5 has been relased. Any news about this issue?

[2017-09-12 21:34] freekmurze commented on #34
I'd accept a fully tested, non-breaking PR that adds the ability to specify a language in the SlugOptions. The chosen language should be passed to the `str_slug` function. Extra points if the PR also updates the docs with an example on how to use the new functionality.

[2017-09-12 22:41] PendoNL commented on #34
Challenge accepted, first time ever, so be gentle!

https://github.com/spatie/laravel-sluggable/pull/45

[2017-09-13 08:07] freekmurze commented on #34
Thanks @PendoNL

We'll handle this further in #45

[2017-09-13 21:10] wgmv opened #47 "Testing results in mkdir(): File exists"
I was testing this package the other day and received this result with phpunit (only one test passes the others fail, probably because the sqlite db already exists:

[code]

Am I doing it wrong? Thanks for any advice.

[2017-09-19 14:35] markwalet commented on #47
The documentation says that you have to run `composer test`. Does that work?

[2017-09-19 18:02] wgmv commented on #47
same result. The test script also just calls phpunit?

`"scripts": {
        "test": "phpunit"
    }`

[2017-09-23 10:33] Fatih90 opened #49 "optional parameter"
Hi is it possible to make a slug from
title: `Mad Max: Fury Road`
to
slug: `341-mad-max-fury-road` where the '341' is the id from table ?

i actualy don't need this package for now but i want to use it for my future projects becaue it has the name Spatie before it ;)

[2017-09-23 11:50] freekmurze commented on #49
You can override this function in your model to customize the slug.

https://github.com/spatie/laravel-sluggable/blob/cc9c261b108d98aa00493585f6bd20b639d0a6f2/src/HasSlug.php#L90-L99

[2017-09-23 11:50] #49 closed

[2017-10-04 02:26] Reflow1319 opened #50 "laravel-sluggable needs update"
When i try to install the package with composer i get the following issue

it appears that the current package require an old version of sluggable, currently the newest version is 2.1. i would do a simple pull request to update the version but i dont know if their are other things that could go wrong if i did so

[code]

[2017-10-04 02:53] #50 closed

[2017-10-23 11:16] wolflingorg opened #53 "hasCustomSlugBeenUsed on update error"
Hi. I'm using "laravel-sluggable" 2.1.0

Could you help me please to figure out of what am I doing wrong?

I have a model SomeModel with *title* and *slug* fields

[code]
When I create a model with an empty *slug* "laravel-sluggable" takes the *title* and create a *slug* automatically.

When I try to update an existed model with an empty *slug* (for example when I need to change a *title* and clea

[2017-12-06 12:23] sebastiandedeyne commented on #47
That's odd, seems to work here and on CI...

If you're still having issues here, feel free to reopen or discuss.

[2017-12-06 12:23] #47 closed

[2018-01-17 04:19] cyberfly opened #55 "Save slug into two or more field"
Hi is it possible to save slug into two or more field?

For example I want the slug to save into slug field and permission_name field, both in the same table

Currently this is what I do on Model

[code]

Thanks

[2018-01-17 08:39] freekmurze commented on #55
Try using the `created` event:

[code]

[2018-01-23 22:07] RadBoris opened #56 "Updating to PHP 7.2 with version 1.5.1 produces error"
Error related to following PHP update:

Warn when counting non-countable types
An E_WARNING will now be emitted when attempting to count() non-countable types (this includes the sizeof() alias function).

http://php.net/manual/en/migration72.incompatible.php
Fixed by changing the following:

if (! count($this->slugOptions->generateSlugFrom)) {

to

if (! $this->slugOptions->generateSlugFrom) {

[2018-01-25 14:25] freekmurze commented on #56
We don't support v1 anymore. Is it possible for you to use v2 of this package?

[2018-01-25 18:04] RadBoris commented on #56
Thank you for responding! For the current project, using v2 might create more problems because we are locked in Laravel/Eloquent 5.4. I understand why you don't support v1 anymore but just to be clear--if I send a PR would you be willing to add the change?

[2018-01-25 18:11] freekmurze commented on #56
Yeah, I’d accept a PR

On Thu, 25 Jan 2018 at 19:04, Rad Borislavov <notifications@github.com>
wrote:

--
Freek Van der Herten https://spatie.be +32 495 84 27 91

[2018-01-25 18:24] RadBoris commented on #56
Great. Thanks!

[2018-01-27 06:59] milanchheda opened #58 "If title contains special characters, it doesn't discard those"
I am using this default code to generate slugs from title:

[code]

If my title contains characters such as, (, [, ], ), +,... those should ideally be excluded while creating slugs, but they aren't.

Example:

Title: Blog (Using PHP, MySQL & JQuery)
Slug generated: Blog-%28Using-PHP,-MySQL-&-JQuery%29

Slug should be: Blog-Using-PHP-MySQL-JQuery

[2018-01-28 00:13] freekmurze commented on #58
Could you PR a failing test for me to fix?

[2018-01-28 00:28] #56 closed

[2018-01-28 00:28] #55 closed

[2018-01-28 00:30] freekmurze commented on #53
I'd accept a PR with a test that improves this behaviour.

[2018-01-28 00:30] #53 closed

[2018-01-28 14:06] milanchheda commented on #58
Not sure, if PR is needed. I think, I have missed something but don't know what it is..

I see on [murze.be](https://murze.be) that post titles do have '(', ':' and '!', but the respective URLs are formed correctly without this characters. I did checked the code for murze.be but couldn't figure out what / which configuration I am missing for this characters :(

[2018-02-01 23:30] jwarnox opened #62 "generateSlugsFrom(['title', 'id']) not working"
Hello Spatie,

I have in My Model:

[code]

But I get back:

[code]

shouldn't the slug be test-post-17 ? Why is it not appending the id onto the title attribute?

regards,
Jamie

[2018-02-02 11:06] TVke commented on #62
Hello @jwarnox

I tested and found that the problem lies in how you save to the model.

When you set the id specifically it will have the correct behaviour and use the id in the slug.
When the id is not set, it will send a NULL value which returns a empty string in a slug.

hope this clarifies the problem.

regards,
Thomas

[2018-02-02 12:51] jwarnox commented on #62
@Thomas,

Great, make perfect sense, also, great Laravel module by the way!

Thanks,
Jamie

[2018-02-02 16:09] #62 closed

[2018-02-04 07:28] #58 closed

[2018-02-10 18:47] mkriegeskorte opened #63 "Issue when Model uses UUIDs"
Hi there,

first of all: Thank you for your work! I really appreciate your packages and the features you provide to the community.

I implemented the sluggable package into one of my uuid-enabled models. Unfortunately there seems to be a problem at the time the package looks for uniqueness in the database.

Here are the code which I'm using at the Model:

[code]

On inserting a new record I'm rece

[2018-02-12 08:40] TVke commented on #63
Dear @mkriegeskorte

Which package do you use to implement the Uuid, so I can test it the correct circumstances.

Greetings
Thomas

[2018-02-12 08:47] mkriegeskorte commented on #63
Hi @TVke!

Formerly I was using `Ramsey\Uuid`. By upgrading to Laravel 5.6 I'm using Str::Uuid, which relies on Ramseys package.

Here's my trait I'm currently using:

[code]

Greetings
Martin

[2018-02-12 11:35] TVke commented on #63
Hey @mkriegeskorte

I made a PR could you test if it works for your setup?

Greetings
Thomas

[2018-02-13 08:58] mkriegeskorte commented on #63
Hey @TVke,

that does work like a charm! Thank your for the support.

Kind regards
Martin

[2018-02-13 10:01] TVke commented on #63
@mkriegeskorte You are very welcome

[2018-02-15 11:42] freekmurze commented on #63
This is fixed in `2.1.3`.

[2018-02-15 11:42] #63 closed

[2018-03-01 11:07] mwakaambrose opened #66 "Incompatibility with php7.2"
I pull in the latest version.
Am using laravel 5.4 with php7.2 here is the error I get.
![screen shot 2018-03-01 at 14 04 56](https://user-images.githubusercontent.com/8328295/36841577-cd4e2d2e-1d59-11e8-879e-f0eb5c67fffb.png)

[2018-03-01 11:58] freekmurze commented on #66
The tests [seem to indicate](https://travis-ci.org/spatie/laravel-sluggable/jobs/345630700) that the package is working correctly on PHP7.2

Could PR a failing test?

[2018-03-01 13:25] mwakaambrose commented on #66
Seems like it's a problem with my code. I tried reproducing it, test kept passing. Sorry.

![screen shot 2018-03-01 at 16 23 10](https://user-images.githubusercontent.com/8328295/36846754-f2218106-1d6c-11e8-845e-457d9441873b.png)

[2018-03-01 13:25] #66 closed

[2018-03-01 18:33] CDNRocket opened #67 "Option for excluding some slugs"
I like this package because it is simple and lightweight and uses only traits.

But should be good to have an option for excluding some slug name to prevent collisions with existing routes like [create, add, edit, delete] and similar.

If one of these was used then make it unique and different from base routes.

[2018-03-01 19:41] freekmurze commented on #67
Feel free to send well tested PRs that add functionality

[2018-03-01 19:41] #67 closed

[2018-03-02 07:03] mwakaambrose commented on #66
@freekmurze It seems to be failing at this point when an seeding the model. Any idea?
[code]

[2018-04-11 19:36] Gummibeer opened #71 "maximumLength applies to source and not slug"
The `maximumLength` is used to shorten the source string and not to limit the slug length.
But related to the readme it should limit the generated slug:

This will lead to problems if it's used to limit slug length cause DB column is limited or to ensure that the final URL isn't longer.

[2018-04-12 09:44] freekmurze commented on #71
Added `The slug may be slightly longer than the value specified, due to the suffix which is added to make it unique.` to the readme.

[2018-04-12 09:44] #71 closed

[2018-05-07 21:07] jeremytubbs commented on #56
https://github.com/spatie/laravel-sluggable/pull/73

[2018-05-19 13:10] dothem1337 opened #74 "Update with same name as before updates the slug"
If you create a model, with for example "name" as slug, it will be generated correctly.

FYI: I have unique slug enabled!

After I update the model again, with the same requet body (name is the same like on create), the slug will be updated to "name-1". I know, there is an option to prevent this with "generateSlugsOnUpdate" but I want to update it, when a different name comes.

Summary:

Before up

[2018-06-09 11:20] mokhosh opened #75 "UTF-8 support"
I have seen other issues for UTF-8 but since you're using `str_slug` and they have made a terrible choice to convert all characters to ASCII, the issue is not resolved yet.

Since the whole purpose of slugs is SEO, we must be able to use UTF-8 characters. I suggest we stop using `str_slug`.

[2018-07-16 18:00] mokhosh commented on #75
And the worst thing is the package is not even using `str_slug` so you can override it with a hack, it's using `Str::slug`.

[2018-07-23 21:46] jago86 opened #76 "getSlugOptions() method is not executed even when fake a specific event"
I have an adverts table whit the fields: id, title, slug. I'm trying to test that an event was dispatched when I post a new Advert is created. The problem is that event if in my test I fake only my custom event, the getSlugOptions() method are not executed what results in a sql error because my slug field can't be null. It seems like all the events are been faking even if I specify ` Event::fake(A

[2018-07-24 17:17] jayenne opened #77 "slug unique by another field (so "versions" of an entry may share the slug)"
I have a need to create a simple versioning system that would require a unique slug but obviously one which is shared acrooss alll versions of the same page/article. would it be possible/desireable to have a method that allows the 'unique' be maintained true for all entries with a given field/value?
e.g: 'slug' => 'foo' where 'page_id' => '100'

*given that all entries hava a slug field and a page

[2018-07-26 04:32] freekmurze commented on #77
Thanks for your proposal, but I think most users don't need this functionality.  I'd like to keep the package as simple as possible.

[2018-07-26 04:32] #77 closed

[2018-07-30 13:40] sebastiandedeyne commented on #76
Unfortunately this isn't something our package can solve. From the Laravel docs:

<img width="622" alt="screen shot 2018-07-30 at 15 38 46" src="https://user-images.githubusercontent.com/1561079/43400708-b41b734e-940e-11e8-963e-59cc96f14841.png">

The only thing you can do is manually call `generateSlugOnCreate` somewhere, instead of relying on the event.

[2018-07-30 13:40] #76 closed

[2018-07-30 13:46] sebastiandedeyne commented on #75
I don't think we want to maintain a custom slug generator function. If this is easily done, feel free to send a well tested PR with the changes.

In the mean time, if this is an issue for anyone, you can override the `HasSlug` trait's `generateNonUniqueSlug` method.

[2018-07-30 13:46] #75 closed

[2018-08-21 05:06] hakimzulkufli opened #78 "Implicit route model binding incompatible with laravel-binary-uuid package?"
With Laravel 5.6, I tried using implicit Route model binding with this package but it doesn't work. I am also using the Binary UUID package made by your company. Through the debugbar package, I found that Laravel was looking for the slug from the `uuid` column instead of the `slug` column even though I have defined it using `getRouteKeyName()`.

Debugbar also revealed that the query was made throu

[2018-08-21 05:31] hakimzulkufli commented on #78
After testing, I commented out `getRouteKeyName()` and `resolveRouteBinding()` from `HasBinaryUuid` and now the route model binding works.

[2018-08-21 06:45] freekmurze commented on #78
It's normal behaviour for PHP to pick the class implementation over a trait implementation. Are you sure you defined `getRouteKeyName` right? Try to add some `dd` in both implementations to know which one is loaded.

[2018-08-21 07:55] hakimzulkufli commented on #78
Just to be extra safe, I even tried copy pasting the function from both Laravel's documentation and the one from `HasBinaryUuid`. I'm not sure how to use `dd` in a way that you were suggesting but according to the laravel-debugbar package, the query was `select * from `users` where `users`.`uuid` in ('administrator') limit 1` and was made through `\vendor\spatie\laravel-binary-uuid\src\HasBinaryUu

[2018-08-30 12:04] sergeynilov opened #79 "Assign slug based on request value"
Hello!

In my Laravel 5.6 application using         "spatie/laravel-sluggable": "^2.1" plugin
I need to fill slug field for a table with additive translation table, so for a table
artists name field is located in artist_translations table,

If there is a way to base new created slug based on value in request? With all fields in 1 table I did priorly as :

[code]

How ?

Thank you!

[2018-08-30 12:05] freekmurze commented on #79
The package cannot do this. Handle that scenario in your own app.

[2018-08-30 12:05] #79 closed

[2018-09-21 02:55] lloricode opened #80 "Relationship"
spatie sluggable version: 2.1.4
laravel: 5.7.5

Hi! how can we get data from relationship?

like this?
[code]

but as i notice

[code]

how can we get this, that the relation is need a `php` `->` from '.' (dot)

something like this?
`product.title` to `product->title`

so it can get the value from relationship

Thanks :)

[2018-09-21 03:06] lloricode commented on #80
[code]

[2018-09-21 03:07] lloricode commented on #80
is this ok to implement in master?

[2018-09-21 03:11] lloricode commented on #80
i just made a PR https://github.com/spatie/laravel-sluggable/pull/81

[2018-09-23 12:11] freekmurze commented on #80
We'll continue the conversation in #81

[2018-09-23 12:11] #80 closed

[2018-11-12 05:41] prjctnxt opened #83 "Validate the slug before it is saved?"
I'm sorry, I'm quite confused. I have run into a problem with a title that will pass all my form request rules but then return an empty slug via sluggable (a title consisting purely of emojis).

Ideally all requests returning an empty slug would throw an error but if that's not possible I would like to validate the result.

Is this simple to do? I am using Sluggable by including the trait in the m

[2018-11-12 14:20] freekmurze commented on #83
The package contains no functionality to do this. However, it's very easy to create a [custom rule](https://laravel.com/docs/master/validation#custom-validation-rules) yourself. In that rule you should validate if the value given returns a non empty string when passing the value to `str_slug`.

[2018-11-12 14:20] #83 closed

[2018-12-12 20:29] josegus opened #84 "Error when updating and having slug empty"
![image](https://user-images.githubusercontent.com/13947849/49896668-73390b80-fe2a-11e8-98ca-2a645b0d6542.png)

I'm getting this error when I update my model and set slug to null.

My slugOptions is this:

    public function getSlugOptions() : SlugOptions
    {
        return SlugOptions::create()
            ->generateSlugsFrom('nombre')
            ->saveSlugsTo('slug');
    }

[2018-12-13 09:44] freekmurze commented on #84
Feel free to PR a fix and a test that proves that the fix works for this 👍

[2018-12-24 11:01] #78 closed

[2019-01-06 23:49] VincentKos commented on #84
What is the expected behavior here @freekmurze ?

The slug row should have `-1` as a value or he should use the `nombre` field to create the slug even if the slug field is given but empty?

[2019-01-09 08:58] freekmurze commented on #84
it should use the nombre field to create the slug

[2019-01-09 12:22] lidoma opened #85 "Compatibility with spatie/laravel-translatable"
Hi
Is this package compatible with `spatie/laravel-translatable` package? I try to implement this but it does not work.

[2019-01-09 15:35] #84 closed

[2019-01-09 15:39] freekmurze commented on #85
The packages are indeed incompatible. I'm afraid there's no easy way to use them together.

In our projects we sometimes used this approach to generate slugs (without using the package) for translatable models: https://github.com/spatie/blender/blob/master/app/Models/Traits/HasSlug.php

[2019-01-09 15:39] #85 closed

[2019-01-09 17:16] okaufmann commented on #85
How about using data_get to retrieve field value (using here https://github.com/spatie/laravel-sluggable/blob/master/src/HasSlug.php#L123)?

[code]

Then we could define the following SlugOptions

[code]

This will not break any existing functionality but will allow to still use this package and its cool features?

[2019-01-10 08:10] freekmurze commented on #85
@okaufmann that's a really nice solution, thanks!

[2019-01-29 11:12] hetais opened #92 "String to lowercase"

[2019-01-29 11:14] hetais commented on #92
I want to just add a separator between 2 space. but this trait converts it to lower case. For example
if I have entered "Nanomed 2019" then its convert it in "nanomed-2019" but I need like this "Nanomed-2019" as I have entered

[2019-01-29 14:41] freekmurze commented on #92
You can override this method in your class and do the necessary modifications in that method.
https://github.com/spatie/laravel-sluggable/blob/77b67b701ec0cbf9d5ec7f91da25f69db119b2a5/src/HasSlug.php#L70-L79

[2019-01-29 14:41] #92 closed

[2019-02-20 18:45] joaowall opened #94 "Concat String"
How do I concatenate a string between 2 fields to generate the slug?

Example:

When using SlugOptions::create()->generateSlugsFrom(['title','city']) is generated the slug:  hotels-orlando

But I would like to generate the slug: hotels-in-orlando

[2019-03-23 01:01] staticwave commented on #94
@joaowall Could you set usingSeparator() like below?

[code]

[2019-04-04 14:36] sooxiaotong opened #100 "Add support for Chinese word"

[2019-04-04 14:37] freekmurze commented on #100
Feel free to send a PR.

[2019-04-04 14:37] #100 closed

[2019-04-04 14:50] sooxiaotong commented on #100
@freekmurze could I ask which is the main func that responds to remove Chinese character?

[2019-04-04 14:53] freekmurze commented on #100
I don't know.

[2019-04-06 09:16] CreativeBulma commented on #85
Hi,

just wanted to share the way we handle the cohabitation between Sluggable and Translatable:
We have extended the default Illuminate Model into a BaseModel with the following method in it:

[code]

[2019-04-12 13:59] caiokawasaki opened #101 "Return slug as string"
Instead of save the slug into the database should exist the option to return the slug as string...

Something like:

[code]

I already have a logic in my code and I can not allow the package to save to the database before executing my logic...

[2019-04-12 21:26] JoshuaDoshua commented on #94
@staticwave
For cities with 2 names it would generate `-in-` in between each space as well though no?
[code]

@joaowall
Without knowing your app structure, I think a simpler solution to achieve some pretty URL structures might be to handle it in your routes, for example:
[code]

[2019-04-13 08:58] JoshuaDoshua opened #102 "doNotGenerateSlugsOnUpdate still allows duplicate slugs"
With `doNotGenerateSlugsOnUpdate` (and not allowing duplicate slugs by default) a manual update of a slug can be duplicate or non-unique.

This could be solved with declaring unique column in the database, but it changes the user experience when the rest are auto-generated/auto-incremented.

Something like an `alwaysForceUniqueSlug()` method?

It seems like it may be difficult and conflicting to t

[2019-04-13 11:37] #94 closed

[2019-04-16 16:35] lukadriel7 commented on #101
Hello, You may want to use Str::Slug(). It will let you get a slug without saving to the database.
https://laravel.com/docs/5.8/helpers#method-str-slug

[2019-04-16 22:40] caiokawasaki commented on #101
@lukadriel7 but I want to use the ability of this package to add unique integers to the slug...

[2019-04-16 22:47] lukadriel7 commented on #101
Which ability are you speaking of ? How do you add those unique integers ?

[2019-04-19 01:30] zarulizham opened #103 "Increment value starts with 2"
Hello,

Is it possible to start increment value for duplicate slug starting with 2? For example:

| ID        | Title           | Slug  |
| ------------- |-------------| -----|
| 10001      | example title  | example-title |
| 10002      | example title  | example-title-2 |
| 10003      | new title  | new-title |
| 10004      | example title  | example-title-3 |

For an example, maybe we can exten

[2019-04-22 19:49] freekmurze commented on #103
On your sluggable class add a `makeSlugUnique` function and implement your own logic there. This is what the package does by default: https://github.com/spatie/laravel-sluggable/blob/1467323aaee9b09e1b09d5b55dfab723be06f931/src/HasSlug.php#L105-L115

[2019-04-22 19:49] #103 closed

[2019-04-23 00:11] zarulizham commented on #103
Got it. Thank you!

[2019-05-13 17:05] francoislevesque opened #105 "This package does not work when using a ModelObserver"
I created a UserObserver and registered it in AppServiceProvider and the slugs are not created automatically anymore.

`SQLSTATE[HY000]: General error: 1364 Field 'slug' doesn't have a default value`

[2019-05-28 05:40] samgan-khan opened #106 "Slugs are not created for UTF-8 Characters."
I have a website which supports title in HINDI. I am using the plugin but instead of slug m getting an empty string but as the unique slugs are created it returns as only "-number" e.g "-1", "-2".

It would be a great help if you can look into this matter.

I am attaching the screenshot for more clarification.

![Screenshot (31)](https://user-images.githubusercontent.com/29948727/58453532-90d60500

[2019-06-01 02:03] atymic commented on #106
Can you post the code you are using on your model? Are you setting the language correctly?

[code]

[2019-06-01 06:40] samgan-khan commented on #106
my site uses a combination of Hindi and English titles to give a particular language won't help. but still for the sake of testing I did it. and this was also not working.

laravel Str helper is making is null,
`Str::slug($this->getSlugSourceString(), $this->slugOptions->slugSeparator, $this->slugOptions->slugLanguage);`

this line in generateNonUniqueSlug() is makin the string null.

[2019-06-01 06:46] atymic commented on #106
My suggestion would be to try overriding the `generateNonUniqueSlug` method on your model to use an alternate slugging library that better supports languages.

Library: https://github.com/cocur/slugify

Then replace the method with:
[code]

[2019-06-01 06:48] atymic commented on #106
Potentially in the future support for different slugging methods could be implemented.

[2019-06-01 06:51] samgan-khan commented on #106
I did the same for now, but this plugin is quite nice in other areas. so thought on shining some light over the issue. I think ill provide a PR to fix the same. Let's see what happens.
@atymic anyway thanks for the time.

[2019-06-01 06:58] atymic commented on #106
No worries :smile:

[2019-06-04 22:52] atymic commented on #105
I've tested this on a fresh laravel install and it seems to be working correctly:

[code]

[2019-06-04 23:26] #105 closed

[2019-06-08 20:35] AlexVanderbist commented on #101
@lukadriel7 it's enabled by default. When a generated slug already exists we'll make sure that the new slug is uniqe:
https://github.com/spatie/laravel-sluggable/blob/master/src/HasSlug.php#L105-L115

@caiokawasaki this package wasn't intended to generate unique slugs without saving them to the database. However, if you really wanted to, you could re-use some code from the `HasSlug` trait to do so

[2019-06-08 20:35] #101 closed

[2019-06-08 20:48] AlexVanderbist commented on #102
I think you should be alright implementing this using a custom updating hook. There wont be any conflicts if `generateSlugsOnUpdate` is turned off. Maybe something like this?

[code]

I'm gonna close this issue for now due its age but feel free to open another issue if you're still having issues with this :)

[2019-06-08 20:48] #102 closed

[2019-06-08 20:50] AlexVanderbist commented on #106
I agree with @atymic on overriding the `generateNonUniqueSlug` method. Alternatively you can try to get a fix merged into Laravel itself 👍

[2019-06-08 20:50] #106 closed

[2019-06-10 03:47] JoshuaDoshua commented on #102
@AlexVanderbist Thanks, not having issues with it, but I opened as a general feature request / topic of discussion.
Objectively, if laravel-sluggable has an option to prevent duplicate slugs, it should also prevent duplicate slugs on update IMO.

[2019-08-12 11:50] Icrmsoftware opened #108 "Return value of App\Profile::getSlugOptions() must be an instance of App\SlugOptpions, instance of Spatie\Sluggable\SlugOptions returned"
Facing this error, please help

![image](https://user-images.githubusercontent.com/34971088/62863119-88519b80-bd25-11e9-81c8-e79e51dda1b5.png)

[2019-08-13 22:19] davejamesmiller commented on #108
Simple typo:
![image](https://user-images.githubusercontent.com/236616/62981288-c1226b00-be20-11e9-894f-28fd375cfab0.png)

[2019-08-15 01:30] hakimihamdan88 commented on #77
need this

[2019-08-16 08:22] riasvdv commented on #108
Thanks @davejamesmiller

[2019-08-16 08:22] #108 closed

[2019-08-19 23:23] matthewscalf opened #109 "Ability to Use ID in slug"
So I love this package. I will say that, but it's come up where a customer now wants the database ID in the url, I tried to convince him otherwise, but they "need" it. The events used for the slug generation happen before the record is saved to the database when creating the record. We only use the creation event. I can think of several ways to make this work but wanted to know if you had any tips

[2019-08-28 11:34] mwkohler opened #112 "Support for Laravel 6"
Now that Laravel 6 has been released, this package should be updated to support it, right?

[2019-08-28 11:35] freekmurze commented on #112
We'll update this package when L6 is released.

[2019-08-28 11:35] #112 closed

[2019-08-28 12:46] belzaaron opened #113 "Allow the use of Laravel 6.0"
Hey, great package! Since the release date of Laravel 6.0 is September 3rd 2019, I think it'd be beneficial for the community to update the package version constraints to allow the use of 6.0.

Since this release is not actually a major release but, a bump to use SemVer there should be no changes to the codebase (as far as I am aware).

Thanks and I'll work on a PR and link it here.
https://github

[2019-08-29 22:44] atymic commented on #109
I've come across this problem in the past as well, and IMO there's no great solution.

You can either hook the `saved` event, generate the slug and save again (without model events), but this requires an extra database round trip.

Alternatively, you can save the slug without the ID, and use a trait to override the getters and return the slug + id combination. The issue here is finding/querying mo

[2019-09-02 08:28] #109 closed

[2019-09-04 11:50] rubenvanassche commented on #113
Release tagged!

[2019-09-04 11:50] #113 closed

[2019-09-04 18:53] belzaaron commented on #47
+1 for this long-dead issue. Not sure the cause at the moment. Happening on latest tag https://github.com/spatie/laravel-sluggable/releases/tag/2.2.0.

[2019-09-05 01:55] kingeke opened #118 "Updating Slug when title did not update."
Ok so this is weird, but lets assume we have three posts with the same title,  like this table

[code]

so then let's say we delete the post with slug (title-1) the table becomes
[code]

then if we update the post with slug (title-2) without changing the title (lets assume the table has more data than that *winks*), the slug updates and becomes title-1
[code]

why ???, because now that I updated m

[2019-09-05 02:46] kingeke commented on #118
also if using

[code]
method, it does not regenerate on update, good. Then assuming I update the title, and add this function in my code on update
[code]

it does not update it after it runs, it updates it after the second update, so assuming I update the title to "First Post" the slug still remains "title" then if I update the title the third time to "Second Post" the slug becomes "first-post", l

[2019-09-06 05:26] tdolph opened #119 "When can we expect the laravel 6 compatibility?"
I have a project in dev that uses your sluggable, translatable models and permissions packages. And the project needs them a lot. I was planning to upgrade to laravel 6 but while doing composer update, the requirements failed. Any approximate eta on when these packages would support laravel 6?

[2019-09-06 05:58] freekmurze commented on #119
The latest version is compatible with L6.

[2019-09-06 05:58] #119 closed

[2019-09-23 18:54] belzaaron opened #120 "[REOPEN] Testing results in mkdir(): File exists #47"
Hello, I have been unsuccessful in re-igniting this issue: #47. It has prevented PR #115 from being kept in the master branch. If anyone has any insight on how to fix please let me know. I would love to contribute but sadly this creates a rather serious barrier for me. Also if you have time to look through both #47 and #115 I have tried to mention this and it seems as though it has gone unnoticed

[2019-10-01 09:27] justijndepover opened #121 "Proposal: add explicit model binding"
I know there were multiple other PR's that allowed model binding on the slug field by overriding the `getRouteKeyName` function. But that breaks the binding with `id`s

I think it would be better to leave the normal binding as is and just create a new one like so:

[code]

Not sure how to achieve this. I currently added a `SlugServiceProvider` where I bind all slug enabled models but this could be

[2019-10-20 23:47] AO-IO opened #124 "Slug Arabic problem"
when creating a slug from a name .  the slug is in English letters
example :

name = مقالة جديدة
slug = mk-l-gdyd

it should be: مقالة-جديدة

Any idea how to solve this issue?

[2019-10-21 12:30] AO-IO commented on #34
if anyone still has Problems in using Arabic chars in slug.

Solution 💯 👍 :

by using https://github.com/cocur/slugify.

go to `HasSlug` Trait in `vendor/spatie/laravel-sluggable`

at the top use `use Cocur\Slugify\Slugify;`

override the method `generateNonUniqueSlug()`

[code]

[2019-10-22 10:09] #124 closed

[2019-11-09 15:03] litlife opened #125 "Multibyte strings"
You should use **mb_substr(** function instead of **substr(** to support all languages https://www.php.net/manual/en/intro.mbstring.php

[2019-11-11 08:38] freekmurze commented on #125
Feel free to submit a PR.

[2019-11-11 08:38] #125 closed

[2019-11-26 22:01] axelitus commented on #118
This behavior is by design to prevent replacing slugs that have been generated manually. What you need to do is empty your slug field so that it can be automatically generated, so your code needs to be:

[code]

[2019-11-28 11:30] rrrafalsz opened #126 "incorrect release description for 2.2.0"
the release description for 2.2.0 states that support for PHP 7.2 was dropped. in fact, it was 7.1. please update this as it might cause users some confusion (as it did for me) and they might even end up not updating the package.

[2019-12-02 20:53] freekmurze commented on #126
Fixed.

[2019-12-02 20:53] #126 closed

[2019-12-06 15:53] rrrafalsz commented on #126
@freekmurze i still see the same description [on the release page](https://github.com/spatie/laravel-sluggable/releases/tag/2.2.0).

[2019-12-06 16:38] freekmurze commented on #126
Now changed on the release notes too.

[2019-12-12 14:36] jandreasn opened #134 "Breaking change in minor update"
I believe the PHP 7.4 requirement in version 2.3.0 is a breaking change and should have been tagged as 3.0.0 according to semver. This just broke our build after a composer update and could break a lot of others' too.

[2019-12-12 16:34] freekmurze commented on #134
I don't think it is a breaking change. Composer shouldn't allow you to install packages whose minimum requirements are not met.

[2019-12-13 09:17] jandreasn commented on #134
That is correct and Composer normally doesn't. But in this shift to PHP 7.4 I run 7.4 locally to to test and prepare our code base for the 7.4 production upgrade. Ideally I should have specified targeted php version in composer.json and that would solve this issue, but that's easy to forget.

I still think your change is more than a minor update though and you should not rely on Composer to safe g

[2019-12-13 09:22] freekmurze commented on #134
I've discussed this with others in the pas. According to semver it is allowed to change the dependencies of a library as long as your own public API does not change.  If you still think a semver rule is broken, please point me the rule you think is broken at https://semver.org/

I think it's good practice to use composers `platform` config option by default everywhere, so this type of problem is p

[2019-12-13 09:22] #134 closed

[2019-12-23 13:37] thijndehaas opened #135 "Slug not updating"
I created a trait that uses the HasSlug option in combination with Laravel Translatable. The slug does save on create but not on update. However when I replace the HasSlug from this package with the Spatie\Tags\HasSlug class the update function works.

The trait
[code]

The model
[code]

- spatie/laravel-tags version 2.5.3
- spatie/laravel-sluggable version 2.3.0
- spatie/laravel-translatable vers

[2019-12-25 12:49] thijndehaas commented on #135
The hasCustomSlugBeenUsed  function doesn't check for translations. I added an original language value to the function. This seems to work but I guess it is not the right way since I see no other reference to the laravel-translatable package.

From:
[code]

To:
[code]

[2020-01-02 03:57] kampit opened #136 "Syntax error: unexpected 'SlugOptions'"
syntax error, unexpected 'SlugOptions' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST)

https://github.com/spatie/laravel-sluggable/blob/master/src/HasSlug.php#L11

[2020-01-03 22:40] freekmurze commented on #136
The tests prove that the code doesn't have syntax errors. Make sure you are running the required version of PHP.

[2020-01-03 22:40] #136 closed

[2020-01-09 08:46] mrlinnth opened #137 "Request for php 7.3 package which is compatible with Laravel 6"
Not a lot of other laravel packages are ready for php 7.4.

I have been using this [rinvex/laravel-subscriptions](https://github.com/rinvex/laravel-subscriptions) package and it is using sluggable package.

With the latest updates on both packages, I have no option other than switch to php 7.4.
But I have other packages which will break on php 7.4.

So it will be really great if there is a version

[2020-01-09 11:08] khanof89 opened #138 "slugs using _ (underscores) instead of - (hyphens)"
I am generating slug for my model using a cron and following is my code:

    foreach($podcasts as $podcast) {
               $podcast->generateSlug();
               $podcast->save();
           }

the slug is generated but its using _ even though I have not changed the setting to use it, if I comment the following lines in `generateNonUniqueSlug` function of HasSlug trait it generates correct sl

[2020-01-09 22:15] bram1028 commented on #121
What about supporting both id and slug with the same implicit binding? Use this on the model class:

[code]

You can put this in another trait or base class and add additional logic to check if it uses `HasSlug`.

[2020-01-10 00:00] freekmurze commented on #137
Version 2.2.1 of this package is installable in PHP 7.3 / Laravel 6

[2020-01-10 00:00] #137 closed

[2020-01-16 16:41] rushxs7 opened #139 "The tests prove that the code doesn't have syntax errors. Make sure you are running the required version of PHP."
The tests prove that the code doesn't have syntax errors. Make sure you are running the required version of PHP.

_Originally posted by @freekmurze in https://github.com/spatie/laravel-sluggable/issues/136#issuecomment-570719828_

I have tested this on php7.4. sluggable version 2.3.
I temporarily fixed the issue by reverting to version 2.2.1 but i wanted some features of version 2.3.

Is there any

[2020-01-16 16:49] freekmurze commented on #139
All I can say is that our tests seem to run fine, and we don't see any problems on our end.

https://github.com/spatie/laravel-sluggable/commit/c42faad176998190f78820e484b779b9a85fa6ec/checks?check_suite_id=345417697

See what the output is of `phpinfo()` in the environment where you run our package. Be aware that the CLI and web request could be handled by different PHP versions.

[2020-01-16 16:49] #139 closed

[2020-01-18 17:10] ThatGuyMelo opened #140 "Laravel 6 & PHP 7.4 Incompatability"
My enviroment:

PHP version: 7.4.1 (and yes - i checked the cli version)
Laravel version: 6.2

When creating slugs, fatal error throws:

Symfony\Component\Debug\Exception\FatalThrowableError
syntax error, unexpected 'SlugOptions' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST)

The problem seems to be line 11 on vendor/spatie/laravel-sluggable/src/HasSlug.php:11

Please advise furth

[2020-01-18 18:22] freekmurze commented on #140
Pretty sure this is caused by a wrong PHP version being used. Make sure all web requests are handled by the right PHP version too

[2020-01-18 18:22] #140 closed

[2020-01-21 12:51] mydnic commented on #140
@freekmurze I just upgraded le PHP version from the forge UI and got this error as well... does that mean Forge installed an incorrect PHP7.4 version ?

[2020-01-21 14:01] freekmurze commented on #140
I guess there is something wrong then. Our testsuite runs perfectly under Laravel 6 / PHP 7.4

https://github.com/spatie/laravel-sluggable/commit/c42faad176998190f78820e484b779b9a85fa6ec/checks?check_suite_id=345417697

If you think the package is in error, please submit a failing test for me to fix.

[2020-01-22 03:38] robertnicjoo opened #141 "retun slug realtime"
# Is that possible to return slug before it saves?

I am using VueJs currently when user types title slug being generated on typing but in case generated slug is duplicated it will be added numbers, in that case user sees `www.xyz.com/my-title` but when it saves it's actually becomes `www.xyz.com/my-title-2` because `my-title` was exist before in database.

it is kind of disappointment for users,

[2020-01-24 11:01] #120 closed

[2020-01-31 09:22] #141 closed

[2020-02-06 01:07] szgalbraith commented on #140
I just had a similar problem. I'm currently running everything locally with the correct versions. Serving the site through artisan works fine and no error, but if I run it using Valet I get the error.

[2020-02-14 13:26] justijndepover commented on #121
I'm happy with that

[2020-02-14 13:26] #121 closed

[2020-02-19 14:42] divdax opened #142 "Special characters like ä ö ü"
We in Germany have some special characters like `ä` `ö` `ü`.
The package converts them to `a` `o` `u` instead of `ae` `ou` `ue`

[2020-02-19 14:54] divdax commented on #142
Got it...

had to set the language in my model:
[code]

[2020-02-19 14:54] #142 closed

[2020-02-21 19:22] JonathanPort opened #143 "Reserved slug words"
Hi Guys, love the package. I'm making a Wordpress style Page / Post system. I'm using this package to generate slugs but I need a way to pass an array of reserved slugs for core system routes that aren't dynamically made such as `/profile` for example. If the slug matches this, then append a number such as `profile-1`.

I tried to apply the logic in the getSlugOptions() method but looking through

[2020-02-23 13:03] freekmurze commented on #143
Feel free to submit a PR with test and an updated readme.Thanks!

[2020-02-23 13:03] #143 closed

[2020-03-08 13:08] robertnicjoo opened #146 "Laravel 7 support"
Can this package laravel 7?

current error:

[code]

[2020-03-08 21:44] freekmurze commented on #146
Only on PHP 7.4

[2020-03-08 21:44] #146 closed

[2020-03-09 00:59] robertnicjoo commented on #146
@freekmurze Please allow me to respond before you close the issue,

I do have `php 7.4` installed

![Untitled](https://user-images.githubusercontent.com/8672823/76174701-82e50280-61db-11ea-9ceb-3f6e9361d003.png)

**To those that come here with same issue:**

If you just download and set `7.4` you need to restart your system (restarting your virtual host alone is not enough)

Thanks

[2020-03-18 08:45] mewejo commented on #137
Any chance of a 2.2.2 for Laravel 7 @freekmurze to support PHP 7.3 please?

[2020-03-19 10:50] patriziotomato opened #148 "Adapt minimum requirements of Laravel"
Hi,

this is to be closed, but let my recommend, if you a building Laravel packages, to comply to Laravels minimum requirements. Else people will have the problem to upgrade to newest Laravel version (and comply to PHP 7.2.10 for example) because you dropped support for this.

Yes, I perfectly see the reason and motivation for you, but please spend some seconds to people like us, being not able to

[2020-03-19 11:20] freekmurze commented on #148
Thanks for your comment. We'll consider this.

[2020-03-19 11:20] #148 closed

[2020-03-27 11:00] #118 closed

[2020-03-31 08:40] khanof89 commented on #22
@blackfyre your blog doesn't works

[2020-04-13 16:58] itsnunolemos commented on #135
Same erro where!

[2020-04-13 16:58] itsnunolemos commented on #135
Same error here!

[2020-05-04 09:12] msonowal opened #153 "Ability to enable/disable slug generation on demand"
As I have inspected there is no option to to enable/disable slug generation on demand.

Suppose I have a model which has
[code]

but sometimes I do not want to create the slug so it does not generate the query for checking duplication or generation and we are manually setting it. So thus cases we don't want the slug generation to trigger. Is there any possibility to do it maybe I may have missed.

[2020-05-11 10:01] #138 closed

[2020-05-23 17:18] mallardduck opened #154 "Slugs updating incorrectly when custom slug seeded"
Per the title, I've encountered an issue upon the initial time updating a Page content type that uses `HasSlug`. In this case the entry was created by a DB seeder and upon editing the html content the slug value changes from `/` to match one generated by the trait.

As the entry's slug doesn't match one that would be generated by sluggable, one would assume it should be considered a custom slug. H

[2020-05-23 17:30] mallardduck commented on #154
I suppose - upon more consideration - the issue I'm having and describing here could be resolved through different means than I've imagined currently.

For instance if #153 were possible then I could offset some logic into the form via JS - then if the form tells my controller not to update the slug, I could pass that same request to sluggable and skip the whole ordeal.

[2020-05-23 17:32] mallardduck commented on #153
I think if this could be implemented in a manner that applies to both creations and updates that would be great. Essentially just a general method to tell the model to ignore slugs for the current transaction.

[2020-05-23 19:25] mallardduck commented on #153
@msonowal

The best - although not great - solution I've found as a bodge of a work around is to add a `lock_slug` bool column to the schema. Then in your `getSlugOptions` you can do a simple check:

[code]

In my case I just need updates disabled - for now - but you could disable on create similarly from what I've seen. You would just have to account for how to define and set lock_slug on the ent

[2020-05-23 21:55] msonowal commented on #153
I have also done a similar implementation but just not satisfied enough myself, so maybe we can have some more spatie way 😊

[2020-05-24 00:09] mallardduck commented on #153
I would absolutely agree with this sentiment too!:

If they're willing to - one thing that comes to mind would be them decoupling the Slug generation logic from Laravel (and it's DB) specific code. Then this package would implement the more general one.

They've done a similar concept with their [spatie/menu](https://github.com/spatie/menu) and [spatie/laravel-menu](https://github.com/spatie/larav

[2020-06-30 18:31] weeradach opened #156 "Does translatable support version 2.2.2"
Because my app use laravel version 6 therefore require version 2.2.2

[2020-07-15 22:12] Khalid3bdallah commented on #124
The same happened with me.
Any updates about this issue?

[2020-07-28 04:30] KunwarSagar opened #157 "Trait 'Spatie\Sluggable\HasTranslatableSlug' not found"
[code]
I installed both package laravel-sluggable and laravel-translatable. But HasTranslatableSlug is nowhere to be found. What am I doing wrong? Should I copy code directly?

[2020-07-31 08:59] riasvdv commented on #157
Which version of the package are you on? The HasTranslatableSlug trait was added in 2.5.0

[2020-07-31 15:08] #157 closed

[2020-07-31 15:08] freekmurze commented on #157
Closing as it probably isn't an issue with the code of the package.

[2020-07-31 16:13] KunwarSagar commented on #157
I didn't choose any version as such. I followed read me as it is. I believe composer installs the latest version. Anyway it didn't help in anyway so i had to do it manually. I wanted to create slugs in Japanese.

[2020-08-14 10:01] #135 closed

[2020-08-14 11:31] robinflyhigh opened #158 "$this->table in __construct() is not working"
We have custom prefix and we add that $this->table in constructor like below:

public function __construct(){
   $this->table = config('app.DB_PREFIX') . 'products';
}

But when we call function it does not return anything:

public function getSlugOptions() : SlugOptions {
        return SlugOptions::create()
                    ->generateSlugsFrom('name')
                    ->saveSlugsTo('slug')

[2020-08-24 08:33] john-ibsa opened #159 "Add the option to disable withoutGlobalScopes()"
**Problem**

We currently use a multi-tenancy setup with a single database. This uses a Global Scope of `BelongsToTenant` to ensure queries only operate on current tenant records.

This means that when a slug is created, `withoutGlobalScopes()` prevents slugs being scoped to a single tenant.

**Proposed Solution**

Add a `slugOption` to disable `withoutGlobalScopes()`

Would be great if this could

[2020-08-24 12:16] freekmurze commented on #159
Feel free to submit a PR for this with tests and an updated readme.

[2020-08-24 12:16] #159 closed

[2020-09-01 19:34] heyaj19 opened #161 "syntax error, unexpected 'SlugOptions' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST)"
PHP version is 7.4.9 and Laravel is 7.26.1 - I am using it on my user Model. Which extends Authenticatable.

[2020-09-01 20:10] freekmurze commented on #161
You're not using PHP 7.4, make sure you check your CLI and web environment.

[2020-09-01 20:10] #161 closed

[2020-09-02 00:04] asivaneswaran opened #162 "Laravel 8 support"
Will the package support Laravel 8?

It's not letting me install version 2.5 with 8.x-dev

[2020-09-02 05:04] freekmurze commented on #162
We will add support next week

[2020-09-02 05:04] #162 closed

[2020-09-04 08:26] kukukk commented on #156
It seems that the package is not using any Laravel 6 specific code, but it requires PHP 7.4. If you plan to use it on PHP 7.4 you can simply modify the composer.json and it will work. If you plan to use it on older version of PHP, I made a fork and replaced the PHP 7.4 specific code, so it works with Laravel 6 on PHP 7.3
It is available here: https://github.com/kukukk/laravel-sluggable

[2020-09-05 04:07] axelitus opened #163 "Tests failing because of "recent" change"
The tests are failing because there was some "recent" change introduced in `Illuminate\Support\Str::slug` method.
![image](https://user-images.githubusercontent.com/732441/92297215-8b0bc980-ef02-11ea-88a2-869075f6c79c.png)

Running `Str::slug('a€')` now returns `aeur` instead of `a-euro` like it used to.

When running the tests with the `--prefer-lowest` flag it works as documented by the test.

T

[2020-09-05 13:51] axelitus commented on #163
The error is because on February 7 the `Str::slug` method was changed to use https://github.com/voku/portable-ascii library:
https://github.com/laravel/framework/commit/eea5d5df51ddc2055e71436913deeed97ccaaaa2

This change was reverted on March 5:
https://github.com/laravel/framework/commit/e4f22d855b429e4141885d542438c859f84bfe49

![image](https://user-images.githubusercontent.com/732441/92306486

[2020-09-06 19:03] freekmurze commented on #163
Thanks, I'll take a look at the PR.

[2020-09-06 19:03] #163 closed

[2020-09-07 18:27] RahulDey12 opened #167 "Release Laravel 8 Support"
Please Release Laravel 8 support

[2020-09-07 20:38] freekmurze commented on #167
Tomorrow.

[2020-09-07 20:38] #167 closed

[2020-09-09 06:00] shankhadevpadam opened #169 "Unable to install in laravel 8."
This package doesn't install in laravel 8. But another spatie package is installed.

[code]

[2020-09-09 07:33] bjuppa commented on #169
Laravel 8 support seems to be on its way, this PR was merged https://github.com/spatie/laravel-sluggable/pull/168 but the tests seems to fail now so we'll probably just wait a little for the new release!

[2020-09-10 06:48] bjuppa commented on #169
[`2.5.1`](https://github.com/spatie/laravel-sluggable/releases/tag/2.5.1) of this package was released yesterday, that will make it installable with Laravel 8, and hopefully solve your issue @shankhadevpadam!

[2020-09-10 08:43] #169 closed

[2020-09-10 15:08] shankhadevpadam commented on #169
Thanks.

[2020-09-17 15:21] andriihorpenko opened #171 "Implicit route model binding won't work with laravel-translatable integration"
Whenever I visit the resourceful controller URL with getRouteKeyName() set to `slug` on the model, I get 404. I don't see tests with controller, maybe that's why this issue is not covered. Project setup: Laravel 8, laravel-sluggable and laravel-translatable packages installed.

**Model:**
[code]

**api.php:**

[code]

Saved model in the database:
![image](https://user-images.githubusercontent.com/

[2020-09-24 10:01] #154 closed

[2020-09-25 10:01] #153 closed

[2020-09-30 15:18] denniskoster commented on #63
Hi, I am using a PostgreSQL database, which automatically generates uuid's.

Unfortunately I can not simply set the `$incrementing` property of my models to `false`, because Laravel will no longer return the key of a generated model anymore. See https://github.com/laravel/framework/blob/8.x/src/Illuminate/Database/Eloquent/Model.php#L856.

Do you see a way around this, other than overruling the `o

[2020-10-01 08:47] denniskoster commented on #63
I have created a pull request to fix this issue: https://github.com/spatie/laravel-sluggable/pull/173

[2020-10-02 07:36] Hansum commented on #136
@freekmurze Hi, sorry for this dumb question but what is the required php version right now for laravel-sluggable?

[2020-10-02 11:37] freekmurze commented on #136
Take a look in composer.json

[2020-10-05 10:01] ERPedersen opened #174 "Laravel 8: SlugOptions could not be converted to string"
I just tried creating a new model with just a `title` and `slug` `varchar(255)` property.

When saving it, I get the following error. Are there any compatibility issues with Laravel 8 / PHP 7.4?

[code]

[2020-10-05 12:29] freekmurze commented on #174
Our entire testsuite runs fine for Laravel 8 and PHP 7.4

I can't reproduce this error.  Can you PR a failing test for me to look at?

[2020-10-05 12:29] #174 closed

[2020-10-05 20:10] thibodelanghe commented on #171
it's because the value in the database is with translation data etc => `{'en' => 'aaaa-bbbb', 'fr' => 'cccc-dddd'}`. So if you do an SQL `where` it'll not return any rows since it's not 'present'

[2020-10-05 20:13] andriihorpenko commented on #171
Yeah, I assumed that this might be the root of the issue, but we still need a workaround for that.

[2020-10-05 20:14] thibodelanghe commented on #171
@andriihorpenko I just edited my comment

[2020-10-05 20:16] andriihorpenko commented on #171
Got it, that's what I actually did to solve this problem. However, I think it would be much more convenient to have a native solution in the package itself.

[2020-10-05 20:24] thibodelanghe commented on #171
It's possible to define the resolve logic in the model itself so it's possible to maybe add it in the HasTranslatableSlug trait.

This does the trick on model level
[code]

[2020-10-07 10:32] mewejo opened #175 "Option to set slug on update only if it's null"
Is there an option to only update a slug when a model is saved and there is not already a slug present? I can't seem to find one, I can submit a PR if it'd be a welcome addition.

[2020-10-07 11:51] freekmurze commented on #175
I don't think we have that yet. If the PR is simple enough and has test, I'll consider merging it.

[2020-10-07 11:51] #175 closed

[2020-10-08 21:16] airliajsmith opened #176 "Editing record breaks slug."
When I edit a record, the slug I setup via a seeder changes to a dash and a number.  For instance, john-doe changes to -2. How do I avoid this?

[2020-10-08 21:20] airliajsmith commented on #176
Nevermind. It did this because I was generating a slug from a connected record.

[2020-10-08 21:20] #176 closed

[2020-10-21 14:44] jeslabbert opened #178 "syntax error, unexpected 'SlugOptions'"
Hi there,

I have been using laravel-sluggable for a while now and its a great plugin.

Unfortunately the server I am hosting on updated PHP from 7.4.1 to 7.4.11.

I have noticed that with the update it breaks laravel-sluggable. I reverted back to PHP 7.4.1 and all is fine.

Here is the error I received:
`syntax error, unexpected 'SlugOptions' (T_STRING), expecting function (T_FUNCTION) or const (

[2020-10-21 16:04] freekmurze commented on #178
You're not fully on PHP 7.4: https://freek.dev/1598-how-to-check-which-version-of-php-you-are-running

[2020-10-21 16:04] #178 closed

[2020-10-22 04:26] izshreyansh commented on #178
Very likely you've recently installed PHP 7.4 but your nginx configuration file still points to PHP 7.3-fpm.
Updating that should fix the problem.

[2020-10-23 16:06] amanpatel opened #179 "PHP requirements"
From composer.json, this package requires:
[code]

But this doesn't make sense to me. Shouldn't PHP requirements be the same as the laravel version requirements? If this package supports laravel 7 or 8, it should default to the lowest PHP requirement for those packages... right? So for example laravel 7 supports php ^7.2. Would it not make sense to support php 7.2 here as well?

Unless ofcourse th

[2020-10-23 16:22] amanpatel commented on #179
This is probably a discussion item and not an issue. I'm closing it.

[2020-10-23 16:22] #179 closed

[2020-10-24 16:52] mehrangolestani commented on #171
not support farsi(persian)!????

[2020-11-16 10:03] EGYWEB-Mohamed opened #181 "Disable translate or transform title !"
Hello Thanks for this awesome package ♥
The most title is in the Arabic language so Slugable transform it into English letter
I need it in the same formate as the example

مرحباً هذا العنوان
مرحباً-هذا-العنوان

the package transform it to

مرحباً هذا العنوان
mrhba-htha-alaanoan

[2020-11-16 10:10] freekmurze commented on #181
Feel to PR this to the package. Make sure to include tests and an updated readme.

[2020-11-16 21:25] EGYWEB-Mohamed commented on #181
I fix it by adding usingLanguage(false) instead of 'en' by default and if I add 'ar' it's work as well

![image](https://user-images.githubusercontent.com/23424932/99309891-d6c3e300-2862-11eb-992d-efd7599590df.png)

[2020-11-17 06:20] #181 closed

[2020-12-22 20:17] musixite opened #182 "Slug with apostrophe rendering"
If title has an apostrophe, then slug removes the apostrophe.
[code]
How can I change this behaviour to add an hyphen instead?
[code]

[2020-12-23 10:18] #156 closed

[2020-12-23 10:18] #171 closed

[2020-12-23 10:19] #182 closed

[2021-01-08 15:57] LaithSJ commented on #124
Has anyone faced this issue and solved it ? Why this ticket closed ? i am having this issue .

[2021-01-26 21:25] junitobermudez opened #183 "Object of class Spatie\Sluggable\SlugOptions could not be converted to string"
I updated my application to Laravel 8.x today and I am now getting the following 500 error. `Object of class Spatie\Sluggable\SlugOptions could not be converted to string` Please let me know if there was something I missed when updating to 8.x

[2021-01-27 00:40] mart-vitaly opened #184 "Recursive queries"
1

[2021-01-27 00:59] #184 closed

[2021-01-27 09:22] freekmurze commented on #183
Could you reopen this as a discussion in the Q&A category? Thanks!

[2021-01-27 09:22] #183 closed

[2021-02-02 09:43] RJFares opened #188 "Slug with Arabic letters"
The slug method expects a string or null as $language (@param  string|null  $language) . In my case, I need the null because I need the Arabic letters NOT to be converted to Latin.

In this library, SlugOptions.php

public string $slugLanguage = 'en';

This is forcing me to not use null, and there was no way I can get a slug with non-latin letters.

Maybe the only solution for such a case is to in

[2021-02-02 09:58] RJFares commented on #188
Using '' does not solve the issue because the ascii method will return an empty string.

Slugging with non latin letters should be available since if we target another language, the SEO is improved a lot if the title has the correct alphabet and not just and ASCII representation in Latin.

That's why I suggest using ?string as stated in the previous comment.

[2021-02-02 10:02] RJFares commented on #188
But this causes an issue where users may want to ASCII some locales and not others...
Any ideas?

[2021-02-04 03:49] ZaidBarghouthi commented on #188
See in `Spatie\Sluggable\HasSlug` trait

[code]

The slug is generated using the `Str::slug`. To implement custom character mapping will need a significant change to the code here.

I'm working on a project at the moment where I need to allow for Arabic in the slugs. I'm just using `->usingLanguage('')`. Can you explain the danger in that?

[2021-02-04 06:59] RJFares commented on #188
@ZaidBarghouthi for your project if it's only en/ar it's fine.
I found the method ->usingLanguage limiting because it accepts only a string and not an array, so if I want to have:

en->en, ar->null (or '') and nl->nl I couldn't be that specific so I just reverted to my own snippet.
I did a quick test now on '' again and it worked correctly (not sure why I got empty strings last night!)

I'll close

[2021-02-04 06:59] #188 closed

[2021-04-05 18:15] amanpatel commented on #137
I have inherited a really bad EC2 / Amazon Linux setup that has my production system stuck on php 7.3

Obviously I need to dig myself out of this problem, but in the mean time, I needed something that worked with Laravel 8, and with php 7.3 (since laravel 8 does support php 7.3).

I actually got this to work, so I'll fork the code and let you know. Obviously, this isn't a long term solution. So I

[2021-04-06 14:14] hmakein opened #192 "Slug not saved when using saveQuietly()"
I'd like to use saveQuietly() to prevent an observer from running on a model that also uses laravel-sluggable, but when I do, the slugs aren't saved. Is there a way around this?

[2021-04-06 21:07] #192 closed

[2021-04-12 21:29] CSenshi opened #194 "Slug not updating on translated model that has non unique field"
I have `Post` model that has only title and slug both translatable.

Migration:
[code]
Model:
[code]
Factory (generates post with same title):
[code]

After running following command:
[code]
We get following results in our database:
[code]
Everything is okay for now. But when updating model's title, slug is the same for all models except first one. For Example if we run following command:
[code]
W

[2021-04-13 07:35] freekmurze commented on #194
I'd accept a PR that fix this. Make sure to include tests.

[2021-04-18 18:00] CSenshi commented on #194
@freekmurze can you review PR for this issue?

[2021-04-22 06:13] freekmurze commented on #194
We'll continue this in #195

[2021-04-22 06:13] #194 closed

[2021-04-24 18:24] bad-robo opened #198 "how to create custom slug"
hi

this is controller code
`<?php

namespace App\Http\Controllers\back;

use App\Article;
use App\Category;
use Illuminate\Http\Request;
use App\Http\Controllers\Controller;

class ArticleController extends Controller
{
    /**
     * Display a listing of the resource.
     *
     * @return \Illuminate\Http\Response
     */
    public function index()
    {
        $articles = Article::orderBy('i

[2021-05-06 00:18] mahony0 opened #199 "Generating Slug on Replicated Model"
Hi,

I just defined SlugOptions in my model so:

[code]

and I'm trying to generate slug on model created via [replicate method](https://laravel.com/docs/8.x/eloquent#replicating-models).

Because of doNotGenerateSlugsOnUpdate(), this is not working. Is there any possible workaround for this?

[2021-05-06 06:22] freekmurze commented on #199
I'd accept a PR that fixes this.

[2021-05-07 07:42] mahony0 commented on #199
I've made a fix for this but needs some testing. I'm a little busy on a project right now but soon I will provide a PR for that

[2021-06-03 13:38] Rene-Roscher opened #202 "Add a list of deny slugs"
Hello, a list of forbidden words would be very helpful.

Just add another function to the options, which is as follows SlugOptions::denyList(['storage'] : array) - so if one of the keywords is set, just randomly put a number after it.

[2021-06-03 14:10] freekmurze commented on #202
I see this as beyond the scope of our package.

[2021-06-03 14:10] #202 closed

[2021-06-24 13:14] #198 closed

[2021-07-03 18:10] samerzaki commented on #124
I have the same problem

[2021-07-03 18:18] AO-IO commented on #124
this may help

use this package https://github.com/cocur/slugify.

go to HasSlug Trait in `endor/spatie/laravel-sluggable`

at the top use use `Cocur\Slugify\Slugify;`

override the method `generateNonUniqueSlug()`
[code]

[2021-07-03 18:23] AO-IO commented on #124
I remember is solved this issue by the following :

using https://github.com/cocur/slugify.

go to HasSlug Trait in `vendor/spatie/laravel-sluggable`

at the top use use `Cocur\Slugify\Slugify;`

override the method `generateNonUniqueSlug()`

[code]

[2021-07-03 18:23] AO-IO commented on #124
I remember solving this issue by the following :

using https://github.com/cocur/slugify.

go to HasSlug Trait in `vendor/spatie/laravel-sluggable`

at the top use use `Cocur\Slugify\Slugify;`

override the method `generateNonUniqueSlug()`

[code]

[2021-08-05 13:48] ahmedkh19 opened #205 "Spatie\Sluggable\{closure}() must be of the type string, null returned"
Hi, I want to update my product, but receiving this message: Return value of App\Models\Product::Spatie\Sluggable\{closure}() must be of the type string, null returned

[2021-08-05 20:23] #205 closed

[2021-08-20 12:50] typoworx-de commented on #199
What a surprise... also got the same problem here.

[2021-08-20 12:56] mahony0 commented on #199
I have a fix for this but didn't have time to test it:

[code]

[2021-08-20 13:06] typoworx-de commented on #199
In my case i'm not replicating, but "copying" using ```$myModel->fill($source->toArray())```

The slug field still exists. But all URLs using "{slug}" will end up in the record-id instead of the slug.

[2021-08-20 13:22] typoworx-de commented on #199
Just got the tip from a colleague to add this in my model:
[code]

And it worked!

[2021-08-20 13:23] mahony0 commented on #199
Hmm, actually your case not seems to related with this issue

[2021-08-21 08:45] robertnicjoo opened #207 "Customize slug pattern"
Is there a way to customize slug generate pattern?

Example:

If I type `C#` as my title it generates slug as `c` but what I expect it to generate is something like this `c-sharp` so I'm seeking for solution to edit slug patterns and add my custom validation into it.

Is it possible?

[2021-08-21 08:52] #207 closed

[2021-09-13 11:20] oliver-la commented on #171
@freekmurze Would it be possible to include the code from https://github.com/spatie/laravel-sluggable/issues/171#issuecomment-703868388 in the HasTranslatableSlug trait? Because model resolution does not work out of the box.

[2021-09-27 05:59] keizah7 opened #211 "Slug doesn't generate on old models"
I have old data and using seeder to generate slugs, but it doesn't generate until column is modified.

Not working:
[code]

Works:
[code]

Settings:
[code]

[2021-09-29 07:51] trippo commented on #171
I think is better:
[code]

[2021-10-01 08:16] Jhnbrn90 commented on #211
Dear @keizah7

The `laravel-sluggable` library hooks in on the `static::updating` lifecycle event of the specific Model.
The `updating` hook is however only triggered when a change in attributes is detected. In your described case, there are no updated values and the `updating` hook is not called and therefore no slugs are generated or updated.

In the `laravel-sluggable` package I came across the

[2021-10-04 14:16] keizah7 commented on #211
@Jhnbrn90 thank you!

[2021-10-04 14:16] #211 closed

[2021-10-06 18:21] najathi commented on #105
When I used the insert, got an error
**_PDOException::("SQLSTATE[HY000]: General error: 1364 Field 'slug' doesn't have a default value"_**

**Use create(), don't use the insert().**

` \App\Model\Category::create($category);`

[2021-11-20 11:43] Leeuwenkasteel opened #214 "Slug add number instead of a string"
I used your packages in a few projects, it alsway work perfect. But nog he add a number instead of a string

[code]

[2021-11-21 19:50] #214 closed

[2021-11-23 11:06] jahanur96 commented on #34
function slugify($string)
    {
        return mb_strtolower(preg_replace('/[ ,.@#$#%^&*?~()_\/\'=]+/', '-', trim($string)), 'UTF-8');
    }

[2021-12-13 09:41] phh opened #217 "Deprecation: currentSlug is null"
Using the `HasTranslatableSlug` results in a PHP deprecation message:

`PHP Deprecated:  str_starts_with(): Passing null to parameter #1 ($haystack) of type string is deprecated in /var/www/html/vendor/spatie/laravel-sluggable/src/HasTranslatableSlug.php on line 85`

Due to these two lines:
[code]

[2021-12-13 18:36] #217 closed

[2022-01-19 20:01] salmazz commented on #124
anyone found solution for this problem ?

[2022-01-19 20:18] AO-IO commented on #124
I ended up using this package [eloquent-sluggable](https://github.com/cviebrock/eloquent-sluggable) . after installing follow this [Slugify-Arabic-fix](https://github.com/AO-IO/Slugify-Arabic-/).

[2022-01-19 20:20] AO-IO commented on #124
I ended up using this package [eloquent-sluggable](https://github.com/cviebrock/eloquent-sluggable) . after installing follow this [Slugify-Arabic-fix](https://github.com/AO-IO/Slugify-Arabic-/).

[2022-01-19 20:24] samerzaki commented on #124
just override the method **generateNonUniqueSlug()** used for generating slugs to allow slugify arabic letters
in your model, write:
[code]

[2022-01-19 20:57] salmazz commented on #124
@samerzaki i am added your function in my modal
what about this function

[code]
?

[2022-01-19 21:01] salmazz commented on #124
@samerzaki  i get this result when making override
i need in two lang get the slug `{
  "name": {
    "ar": "سلمي",
    "en": "salma"
  },
  "slug": {
    "en": "salma",
    "ar": "-2"
  },`

[2022-01-21 01:14] mohamedsabil83 opened #219 "setLocale repeat sluggable for all available locales in DB"
I'm using sluggable and translatable packages. have two languages Arabic and English. let's say we have a Member model which has two columns (**name** and **slug**) and all settings set properly.

when using `setTranslation` method like:
[code]
the sluggable sets as expected `{"ar":"أحمد","en":"ahmed"}`

but when using `setLocale` method like following, it clones the slug using the last locale:

*

[2022-01-31 02:44] ustabasiibrahim opened #221 "slugOptions registering only one language"
Hello all,
When I try to render a page it only registers one language even though I am using the translatable package.
I can describe the scenario like this:

Page Model;

[code]

in PageController;

[code]

and it given me this result;

![image](https://user-images.githubusercontent.com/14348709/151732071-26cf504a-dbb1-451f-bbfa-c5d8a0cf06e7.png)

Do you think this may cause?

[2022-02-07 01:14] marvin-wtt commented on #221
You are using the wrong trait. Use `HasTranslateableSlug` in your Model instead of `HasSlug`

[2022-02-10 15:50] cdt-team commented on #221
Hello, I have error if I used **HasTranslatableSlug**,
This's my model

`<?php

namespace App\Models;

use Illuminate\Database\Eloquent\Factories\HasFactory;
use Illuminate\Database\Eloquent\Model;
use Illuminate\Support\Facades\Storage;
use Spatie\Sluggable\HasTranslatableSlug;
use Spatie\Sluggable\SlugOptions;
use Spatie\Translatable\HasTranslations;
use Spatie\EloquentSortable\Sortable;
use Spa

[2022-04-22 06:09] pemudakoding opened #230 "Sluggable still generate in firstOrCreate"
I have an issue I need to create or get the model by slug using `Model::firstOrCreate()` but isn't successful, _Sluggable_ still generates a new slug.

[2022-04-22 06:35] #230 closed

[2022-05-30 08:40] bram-pkg commented on #202
I agree this would be a good feature to have. Sometimes URL's can include certain words that are hardcoded, such as `latest` or `current`.

[2022-06-03 04:27] Malikmal opened #232 "Trait "Spatie\Sluggable\HasSlug" not found in Octane Web server"
Hi, Thank you for the great package

currently I'm using this package and run properly in my local without running octane
but when I deploy to my Octane Swoole serve, I've got an error
`Trait "Spatie\Sluggable\HasSlug" not found`
when i turn off the octane server its run properly

PHP : 8.1
Laravel : 8.83

[2022-06-03 05:59] #232 closed

[2022-07-12 11:04] kskrlinnorth2 opened #234 "Slug is not updating (translatable slug)"
Package v3.4.0
Laravel v9

Model slug definition:
[code]

It works only on create and it can't be updated with none of provided solutions:
`$event->update(['name' => 'New name']); // Not working, slug is not updated`

[code]

[code]

[code]

Slug update only works if I directly update the slug, but for this kind of code I don't even need any package.
[code]

[2022-07-13 20:46] #234 closed, assigned to nobody